<div id="page-inc-types" class="page">
  <div class="card">
    <div class="card-header">
      <span class="card-title">Tipos de incidencia</span>
      <button class="btn btn-primary btn-sm admin-action" onclick="openIncTypeModal()">+ Nuevo tipo</button>
    </div>
    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Color</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="inct-tbody"></tbody>
      </table>
    </div>
  </div>
</div>
